.navbar {
  width: 93%;
  background: transparent;
  position: absolute;
  z-index: 2;

  button.btn {
    width: 100px;
    font-size: 13px;
  }

  button.btn-search {
    width: 50px;
  }

  .navbar-brand {
    color: white;
    margin-left: 4rem;
  }

  .btn:active,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }

  .btn-sign-up {
    background: #FF0078;
    border-color: #FF0078;
    color: #fff;

    &:hover {
      color: #FF0078;
      background: #fff;
    }
  }
}

.navbar-toggler[data-toggle=collapse] {
  padding: 0;
  border: none;
  font-size: inherit;
  color: #fff;
  position: relative;

  .navbar-toggler-icon {
    width: 24px;
    height: 18px;
    display: block;
    position: relative;
    background-image: none;
    border-bottom: 2px solid;
    transition: all 0.2s ease;

    &:after,
    &:before {
      content: '';
      right: 0;
      width: 100%;
      display: block;
      position: absolute;
      border-top: 2px solid;
      transition: all 0.2s ease;
    }

    &::before {
      top: 0;
    }

    &:after {
      top: 50%;
    }
  }

  &[aria-expanded=true] {
    .navbar-toggler-icon {
      border-color: transparent;
      transform: rotate(45deg);

      &:before {
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
      }

      &:after {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
      }

      &:after,
      &:before {
        width: 100%;
        top: 50%;
      }
    }
  }
}
@media (max-width:767px) {
  .search-form {
    display: inline-block;
    width: 30%;
  }
}
