  <div class="container" style="position: relative">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">THEMOVIEBOX</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"  data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0 search-form" (submit)="onSubmit()" [formGroup]="searchForm">
          <input class="form-control" type="text" placeholder="Search" name="name" formControlName="name" [hidden]="!isInputSearch">
          <button type="button" name="button" class="btn btn btn-link btn-search" (click)="isInputSearch = !isInputSearch" [hidden]="isInputSearch">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          </button>
        </form>
        <button class="btn btn-link my-2 my-sm-0">LOG IN</button>
        <button class="btn btn-outline-success btn-sign-up my-2 my-sm-0">SIGN UP</button>
      </div>
    </nav>
  </div>
