<!-- header -->
<!-- ============================================================== -->
<app-header class="header"></app-header>

<!-- ============================================================== -->
<!-- End header -->
<!-- header -->
<!-- ============================================================== -->
<!-- <app-menu></app-menu> -->
<!-- ============================================================== -->
<!-- End header -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid px-0">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
</div>
<!-- footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
