<div class="container">
  <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <swiper class="swiper-container" [config]="config" fxFlex="auto">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div class="row wrap-content-slider">
          <div class="col-6">
            <div class="pull-left card-left">
              <h3>WRATH OF THE TITANS</h3>
              <ul class="list-inline">
                <li>Fantasy</li>
                <li>Animation</li>
                <li>Family</li>
                <li>|</li>
                <li>Duration: 1h52m</li>
              </ul>
              <ul class="list-inline">
                <li><button class="btn btn-outline-success btn-pink my-2 my-sm-0">WRATH MOIVE</button></li>
                <li><button class="btn btn-outline-default my-2 my-sm-0">VIEW INFO</button></li>
                <li><button class="btn btn-link my-2 my-sm-0">+ ADD TO WISHLIS</button></li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="pull-right">
              <div class="card card-right">
                <div class="card-body text-center">
                  <p class="rating"><span>Rating </span>based on 3.456 reviews</p>
                  <ul class="list-inline">
                    <li><img src="./assets/images/star.png" alt="" style="height: 16px;"></li>
                    <li><img src="./assets/images/star.png" alt="" style="height: 16px;"></li>
                    <li><img src="./assets/images/star.png" alt="" style="height: 16px;"></li>
                    <li><img src="./assets/images/start-half.png" alt="" style="height: 16px;"></li>
                    <li><img src="./assets/images/star-less.png" alt="" style="height: 16px;"></li>
                    <li><span class="num">3.4</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          <img src="./assets/images/slide.png" alt="" style="width:100%;height: 450px;">
        </div>
      </div>
    </swiper>
  </div>

  <div class="content-main">
    <div class="row">
      <div class="col-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="navChanged($event)">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Popular</a>
            <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of listPopular; trackBy: trackByFn; let i = index">
                    <div class="card card-poster">
                    <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w300/'+ item.poster_path" alt="item.original_title">
                    <div class="card-body">
                      <p class="card-title" title="{{item.title}}">{{item.title}}</p>
                      <p class="card-text">
                        <span class="genre">{{item.genre}} </span>
                      </p>
                      <span class="average">{{item.vote_average}}</span>
                    </div>
                  </div>
                  </div>
                </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Top Rated</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of listTopRated; trackBy: trackByFn; let i = index">
                  <div class="card card-poster">
                  <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w300/'+ item.poster_path" alt="item.original_title">
                  <div class="card-body">
                    <p class="card-title" title="{{item.title}}">{{item.title}}</p>
                    <p class="card-text">
                      <span class="genre">{{item.genre}} </span>
                    </p>
                    <span class="average">{{item.vote_average}}</span>
                  </div>
                </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Upcoming</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of listUpcoming; trackBy: trackByFn; let i = index">
                  <div class="card card-poster">
                  <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w300/'+ item.poster_path" alt="item.original_title">
                  <div class="card-body">
                    <p class="card-title" title="{{item.title}}">{{item.title}}</p>
                    <p class="card-text">
                      <span class="genre">{{item.genre}} </span>
                    </p>
                    <span class="average">{{item.vote_average}}</span>
                  </div>
                </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>Genre</a>
            <ng-template ngbNavContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </li>
        </ul>
        <div class="view-method">
          <ul class="list-inline">
            <li><img src="./assets/images/collection-icon.png" alt="" style="height: 20px;"></li>
            <li><img src="./assets/images/list-icon.png" alt="" style="height: 20px;"></li>
          </ul>
        </div>
      </div>
      <div class="col-12 list-movie">
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>


  </div>

</div>
