.action-container,
.content-container {
  position: relative;
  // overflow: auto;
  height: 510px;
  min-height: 0;
  z-index: 1;
  // margin: 8px 16px;
  // border-radius: 4px;
  background-color: #fff;
}

.action-container {
  padding: 16px;
}

.horizontal-container,
.vertical-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: #aaa;
  background-color: #eee;
  position: relative;
}

.swiper-slide-active {
  color: #fff;
  background-color: #000;
  opacity: 0.9;
}

.wrap-content-slider {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 2.5rem;

  .card-right {
    width: 205px;
    background-color: #100F15;
    border-color: #3F3E43;
    margin-right: 2.3rem;
    margin-top: 2rem;

    .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 0.85rem;
    }

    .list-inline {
      margin-bottom: 0;

      .num {
        border: 1px solid #848389;
        padding: 2px;
        font-size: 12px;
      }
    }

    .rating {
      font-size: 12px;
      color: #848389;
      margin-bottom: 0.5rem;

      span {
        font-size: 13px;
        color: white;
      }
    }
  }

  .card-left {
    font-size: 13px;
    margin-left: 5rem;

    .btn {
      font-size: 13px;
    }

    .btn-pink {
      background: #FF0078;
      border-color: #FF0078;
      color: #fff;

      &:hover {
        color: #FF0078;
        background: #fff;
      }
    }

    .btn-outline-default {
      border-color: #fff;
      color: #fff;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

.content-main {
  margin-top: 2rem;
  min-height: 30vh;

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #FF0078;
    background-color: transparent;
    border: none;
    font-weight: 600;
    border-bottom: 2px solid #FF0078;
  }

  .nav-tabs .nav-link {
    color: #828187;
  }

  .nav-link {
    padding: 0.5rem 2rem;
  }

  .view-method {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: -30px;
  }

  .list-movie {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .loading {
      margin-top: 2rem;
      animation: blinker 1s linear infinite;

      p {
        margin-top: 1rem;
        color: #BCBCBE;
      }
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    .list-genre {
      button {
        border-radius: 5px;
        padding: 5px 15px;
        color: #FF0078;
        border: 1px solid #828187;
        margin-right: 1rem;
        display: inline-block;
        margin-bottom: 0.5rem;

        &:hover {
          background: #FF0078;
          color: #fff;
        }
      }
    }
  }
}

.card-poster {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: none;
  margin-bottom: 1.5rem;

  .card-title {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    color: #4A4A62;
    font-size: 16px;
    text-align: left;
  }

  .card-text {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    color: #BFBEC3;
    font-size: 14px;
    text-align: left;
  }

  .card-body {
    padding: 1rem;
    position: relative;

    .average {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 23px;
      margin-top: 26px;
      padding: 3px;
      border: 1px solid #FF0078;
      font-size: 13px;
      color: #FF0078;
    }
  }
}
